.auth-panel {
  background: rgb(245, 245, 245);
  border: 1px solid rgb(200, 200, 200);
  position: absolute;
  min-height: 350px;
  width: 300px;
  top: 80px;
  transition: all 0.3s;
  opacity: 0;
  left: 0;
  margin-left: 14em;
  border-radius: 5px 15px;
  box-shadow: $boxShadow;
  margin-top: -20px;
  z-index: 1;
  pointer-events: none;
  &.open {
    pointer-events: all;
    margin-top: 0px;
    opacity: 1;
  }
}
.panel-auth-toogle {
  cursor: pointer;
  border-radius: 5%;
  &:hover {
    background: $primaryColor;
  }
  &.active {
    background: $primaryColor;
    border: 1px solid $mainColor;
  }
}
@include media-breakpoint-down(md) {
  .auth-panel {
  margin-top: -30px;
  &.open {
    margin-top: -20px;
  }
    left:-150px;
  }
}
