.flat-icon {
  &.mini-icon {
    width: 25px;
    height: 25px;
  }
  &.regular-icon {
    width: 30px;
    height: 30px;
  }
  &.large-icon {
    width: 60px;
    height: 60px;
  }
  &.extra-large-icon {
    width: 80px;
    height: 80px;
  }
  &.white-icon {
    fill: white;
  }
}
