.flat-icon {
  &.mini-icon {
    width: 25px;
  }
  &.regular-icon {
    width: 30px;
  }
  &.large-icon {
    width: 50px;
    height: 50px;
  }
  &.extra-large-icon {
    width: 100px;
    height: 100px;
  }
  &.white-icon {
    fill: white;
  }
}
