$productBackground: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(75, 108, 183, 1) 0%,
  rgba(55, 82, 141, 1) 90%
);

@import "glance";
@import "tabs";
@import "overview";
@import "map";
@import "gravity";
@import "title";
@import "gallery";

.product-title {
  font-size: 1.4em;
}
.product-helper-image {
  border-radius: 100%;
  padding: 5px;
  border: 1px solid white;
}
.product-helper-number {
  font-size: 1.1em;
  letter-spacing: 0.3em;
}

.box-container {
  box-shadow: 0 1px 1px rgba(28, 37, 64, 0.16);
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 30px;
  transition: all 0.5s;
}
.box-title {
  position: absolute;
  height: 43px;
  background-color: $secondColor;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 0 12px 0 14px;
  float: right;
  border-radius: 10px 10px 0 0;
  line-height: 30px;
  right: 0;
  top: -15px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    border-radius: 0 30px 0 0;
    display: block;
    background-color: #fff;
    bottom: 0;
    left: 0;
  }
}
