.related-magazine {
  div {
    border: dotted 1px rgb(223, 223, 223);
    border-radius: 10px;
    a {
      text-decoration: none;
      color: #666;
    }
    transition: all 0.3s;
    &:hover {
      background: rgb(223, 223, 223);
    }
  }
}
