.product-tabs-container {
  border-radius: 5px;
}

.product-tabs-list {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(75, 108, 183, 1) 0%,
    rgba(55, 82, 141, 1) 90%
  );
  color: white;
  height: 50px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  overflow: hidden;
}

.product-tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 90%;
  top: 10%;
  position: relative;
  border-radius: 10px 10px 0 0;
  margin: 0 10px;
  transition: 0.5s all;
  &:hover:not(.active) {
    background: rgba(white, 0.08);
  }
  &.active {
    background: #f8f8f8;
    color: $mainColor;
  }
}

.product-body {
  //   background: #394264;
  background: #f8f8f8;
  color: $mainColor;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  min-height: 100px;
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 20px 0;
    }
    div {
      strong {
        background: $secondColor;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        position: relative;
      }
    }
  }
}
