.action-container {
  // width: 100%;
  // height: 100%;
  // background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;
  transition: all 0.3s;
  cursor: pointer;
  background: black;
  &:hover > .action-title {
    font-size: 1.3em;
  }
  &:hover > .action-image {
    opacity: 0.6;
  }
}

.action-image {
  transition: all 0.3s;
  opacity: 0.7;
  // width: 100%;
}

.action-title {
  transition: all 0.3s;
  height: 30px;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  bottom: 0;
  font-size: 1.2em;
  color: white;
  text-shadow: 0 0 10px rgba(black, 0.3);
  font-weight: bold;
}
