.category {
  // width: 100px;
  // height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #bbbbbb;
  border-radius: 10px;
  box-shadow: $boxShadow;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    border-style: dashed;
  }
  &.active {
    background: $secondColor;
  }
}
.splitter {
  background: $secondColor;
  width: 150px;
  height: 5px;
}
.category-switcher {
  color: $mainColor;
  cursor: pointer;
  border: 1px solid $mainColor;
  border-radius: 5px;
  &:hover {
    background: rgba($secondColor, 0.1);
  }
  &.active {
    background: $secondColor;
    color: white;
    border: none;
  }
}
