.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #bbbbbb;
  border-radius: 10px;
  box-shadow: $boxShadow;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    border-style: dashed;
  }
  &.active {
    background: $secondColor;
  }
  &:not(.active) {
    background: white;
  }
}
.splitter {
  background: $secondColor;
  width: 150px;
  height: 5px;
}
.parent-title {
  min-width: 150px;
}
.category-switcher {
  color: $mainColor;
  cursor: pointer;
  border: 1px solid $mainColor;
  border-radius: 5px;
  &:hover {
    background: rgba($secondColor, 0.1);
  }
  &.active {
    background: $secondColor;
    color: white;
    border: none;
  }
}

@include media-breakpoint-down(md){
  .category-switcher{
    font-size: 12px;
  }
  .parent-title {
    min-width: 100px;
    font-size: 20px;
  }
  .splitter {
    background: $secondColor;
    width: 100px;
    height: 5px;
  }
}
