.category {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #bbbbbb;
  border-radius: 10px;
  box-shadow: $boxShadow;
  transition: all 0.3s;
  cursor: pointer;
  &:hover{
    border-style: dashed;
  }
  &.active {
    background: $secondColor;
  }
}
.splitter{
  background: $secondColor;
  width: 150px;
  height: 5px;
}
