footer {
  text-align: center;
  .footer-social {
    background: #f3f3f3;
    .social-instagram {
      background: linear-gradient(
        256deg,
        #4f5bd5,
        #962fbf 28%,
        #d62976 65%,
        #d62976 75%,
        #fa7e1f 95%,
        #feda75
      );
      padding: 6px 30px;
      border-radius: 16px;
    }
    .social-twitter {
      background: #1da1f2;
      border-radius: 100px;
      padding: 6px;
      widows: 30px;
      height: 30px;
    }
    .social-telegram {
      background: #0088cc;
      border-radius: 100px;
      padding: 6px;
      widows: 30px;
      height: 30px;
    }
  }
  .footer-links {
    background: #e1e1e1;
    ul {
      list-style: none; /* Remove default bullets */
      li {
        color: #666;
        margin: 10px 0;
        font-size: 0.9em;
        a {
          color: #666;
          text-decoration: none;
          transition-duration: 0.5s;
          transition-property: margin-right, color;
          &:hover {
            color: $secondColor;
            margin-right: 5px;
          }
        }
        &::before {
          content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
          color: $secondColor; /* Change the color */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          margin-right: -1em; /* Also needed for space (tweak if needed) */
        }
      }
    }
    .footer-logo {
      transform: translateY(-20%);
    }
  }
  .trust-container {
    min-width: 100px;
    min-height: 100px;
  }
}

@include media-breakpoint-down(md) {
  .social-instagram {
    font-size: 15px;
  }
  .newsletter {
    margin-top: 20px;
  }
  .trust-container {
    min-width: 30px;
    min-height: 30px;
  }
}
.footer-fixer {
  width: 100%;
  height: 10vh;
  background: #e1e1e1;
}
