@import url("~bootstrap/scss/bootstrap.scss");
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

@import url(~react-persian-calendar-date-picker/lib/DatePicker.css);
@import "variables";
@import "fonts";

@import "components/index";
@import "navbar/index";
@import "tour/index";
@import "splash";
@import "product/index";
@import "dashboard/index";
@import "footer";
@import "payment/index";
@import "magazine/index";

body {
  width: 100%;
  overflow-x: hidden;
  background : #f1f1f1;
  // background-image: url(/static/images/back-pattern.png);
}

.children{
  min-height: 30vh;
  margin: 0;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.text-main {
  color: $mainColor;
}
.text-second {
  color: $secondColor;
}
.text-second {
  color: $secondColor;
}

.bg-main {
  background-color: $mainColor;
}
.bg-second {
  background-color: $secondColor;
}
