@import url(~bootstrap/scss/bootstrap.scss);
@import url(~react-persian-calendar-date-picker/lib/DatePicker.css);
@import "variables";
@import "fonts";

@import "components/index";
@import "navbar/index";
@import "tour/index";
@import "splash";
@import "product/index";
@import "dashboard/index";
@import "footer";

body {
  width: 100%;
  overflow-x: hidden;
  // background-image: url(/static/images/back-pattern.png);
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.text-main {
  color: $mainColor;
}
.text-second {
  color: $secondColor;
}
.text-second {
  color: $secondColor;
}

.text-main {
  color: $mainColor;
}
