@import url(~bootstrap/scss/bootstrap.scss);
@import url(~slick-carousel/slick/slick.scss);
@import url(~slick-carousel/slick/slick-theme.scss);

@import "variables";
@import "fonts";

@import "components/index";
@import "navbar/index";
@import "tour/index";
@import "splash";
@import "product";

body {
  width: 100%;
  overflow-x: hidden;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.text-second{
  color : $secondColor;
}

.text-main{
  color : $mainColor;
}
